<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>    
    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/eonasdan-bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/eonasdan-bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />

    <script type="text/javascript">
        var ReportsCtrl = ReportsCtrl || {};

        ReportsCtrl = (function ($) {
            'use strict';

            var baseEndPoint = 'http://localhost:12783/api';

            var init = function () {
                loadWebsites();
                loadDevices();
                loadTable();
            }

            var addRows = function (data) {
                var columns = ['ID', 'Name', 'ProactiveSent', 'ProactiveAnswered', 'ProactiveResponseRate', 'ReactiveReceived', 'ReactiveAnswered', 'ReactiveResponseRate', 'TotalChatLength', 'AverageChatLength'];
                var output = '';

                $('.table .tbody').html('');
                $('#loader').removeClass('hidden');

                data.forEach(row => {
                    output += `<div class="tr">`;
                    columns.forEach(column => {
                        output += `<div class="td">${row[column]}</div>`;
                    });
                    output += `</div>`;
                });

                $('.table .tbody').html(output);
                $('#loader').addClass('hidden');
            }

            var saveAs = function (filename, data, type) {
                var a = $('<a style="display: none;" />');
                var url = window.URL.createObjectURL(new Blob([data], { type: type }));
                a.attr('href', url).attr('download', filename);
                $('body').append(a);
                a[0].click();
                window.URL.revokeObjectURL(url);
                a.remove();
            }

            var loadSelect = function (el, data, emptyStr) {
                var str = `<option value="">${emptyStr}</option>`;

                data.forEach(row => {
                    str += `<option value="${row}">${row}</option>`;
                })

                $(el).html(str);
            }

            var loadWebsites = function () {
                $.get(`${baseEndPoint}/reports/websites`, data => {
                    loadSelect('#select-website', data, 'Select a website');
                });
            }

            var loadDevices = function () {
                $.get(`${baseEndPoint}/reports/devices`, data => {
                    loadSelect('#select-device', data, 'Select a device');
                });
            }

            var loadTable = function () {
                $.get(`${baseEndPoint}/reports`, data => {
                    addRows(data);
                });
            }

            var updateTable = function () {
                var params = $('#table-filters').serialize();
                $.get(`${baseEndPoint}/reports?${params}`, data => {
                    addRows(data);
                });
                console.log('updating ', params);
            }

            var exportTable = function () {
                $.get(`${baseEndPoint}/reports/excel`, data => {
                    saveAs('Export.xls', data, 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet');
                });
            }

            return {
                init: init,
                updateTable: updateTable,
                exportTable: exportTable
            }
        })(jQuery);

        $(document).ready(function () {
            ReportsCtrl.init();

            $('.radio-date-type').on('change', function (e) {
                if ($(this).val() == "custom") {
                    $('#select-predefined-date').val('');
                }
                $('#predefined-dates').toggleClass('hidden');
                $('#custom-dates').toggleClass('hidden');
            });

            $('.date-picker').datetimepicker({ format: 'YYYY-MM-DD' });
        });

    </script>
</body>
</html>
